// Variables 
$black: #000000;
$font-type: Helvetica, sans-serif;

body {
    color: $black;
    font: 100% $font-type;
    font-size: 50px;
    font-weight: lighter;
}

// Nesting
nav {
    ul {
        margin: 2;
        padding: 2;
        list-style: none;
      }
    li {
        display: inline-block;
      }
     
    a {
        display: block;
        padding: 12px 24px;
        text-decoration: none;
    }
}

// Mix-ins
@mixin highlight-text {
    color: blue;
    font-size: 50px;
    font-weight: bold;
}

.highlight {
    @include highlight-text;
    background: yellow;
}

// Extend
.button-basic {
    border: none;
    padding: 25px 35px;
    text-align: center;
    font-size: 28px;
    cursor: pointer;
}

.button-back {
     @extend button-basic;
     color: white;
     background: blue;
}

.button-next {
     @extend button-basic;
     color: red;
     background: green;
}

// Operators
.container {
    width: 520px / 800px * 100%;
}

//functions
@function mult($numbers...){
    $mult: 1;
    @each $num in $numbers {
        $mult: $mult * $num;
    }
    @return $mult;
}

.increase {
    size: mult(2px, 4px, 5px, 8px);
}

//power function
@function exponent($base, $exp){
    $answer: 1;
    @for $_ from 1 through $exp {
        $answer: $answer * $base;
    }
    @return $answer;
}
