body {
  margin: 0;
  padding-bottom: 3rem;
  font-family: Roboto, Helvetica, Arial, sans-serif;
}

#chat-form {
  background: rgba(0, 0, 0, 0.15);
  backdrop-filter: blur(10px);
  box-sizing: border-box;
  padding: 0.25rem;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: 5rem;
  display: flex;
}

#chat-input {
  border: none;
  padding: 0 1rem;
  flex-grow: 1;
  border-radius: 2rem;
  margin: 0.25rem;
}

#chat-input:focus {
  outline: none;
}

#chat-submit{
  background: #333;
  border: none;
  padding: 0 1rem;
  margin: 0.25rem;
  border-radius: 3px;
  outline: none;
  color: #fff;
}

#messages {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

#messages > li {
  padding: 0.5rem 1rem;
}

#messages > li:nth-child(odd) {
  background: #efefef;
}